{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": ["^@/styles/(.*)$", "^[./]", "^@/components/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
