{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": ["^@/styles/(.*)$", "^[./]", "^@/components/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
